<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Symphonic Backline</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="https://file.myfontastic.com/6iWEvEqzBQEjMABxNEDxFk/icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
      <!--start of template navbar -->
      <div id="hero">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">Symphonic Backline</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link active" href="#">Start</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbar_dropdown" data-toggle="dropdown">Katalog</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Kotly</a>
                      <a class="dropdown-item" href="#">Instrumenty sztabkowe</a>
                      <a class="dropdown-item" href="#">Werble</a>
                      <a class="dropdown-item" href="#">Bebny</a>
                    </div>
                  </li>
                </ul>
          </div>
        </nav>
        <!-- end of template navbar -->
        <!-- start for template "index.html" -->
          <div class="row hero_content pt-lg-6 pb-lg-6 pt-5">
            <div class="col-md-6 col-sm-12">
              <h4 class="text-uppercase text-center text-md-left">Wypozyczalnia instrumentow i obsluga orkiestr symfonicznych</h4>
              <p class="text-center text-md-left pt-5 pb-5">Symphonic Backline to obecnie jedyna, profesjonalna wypożyczalnia instrumentów orkiestrowych w Polsce. Dysponujemy zespołem wykwalifikowanych techników specjalizujących się w pełnej obsłudze instrumentów muzycznych, orkiestr kameralnych i symfonicznych, sprzętu scenicznego oraz koordynacji i obsługi sceny.</p>
            </div>
          </div>
        </div>
    <!-- end of div hero -->
    </div>
        <div class="feature_wrapper bg-primary pt-5 pb-5 mt-5 mt-lg-0">
          <div class="container">
            <div class="row">
              <div class="col-md-1 col-sm-12 text-center mb-3 mb-md-0"><i class="icon-icon2 fa-3x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>

              <div class="col-md-1 col-sm-12 text-center mt-lg-2 mb-3 mb-md-0"><i class="fas fa-wrench fa-2x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>

              <div class="col-md-1 col-sm-12 text-center mt-lg-2 mb-3 mb-md-0"><i class="fas fa-sitemap fa-2x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>
            </div>
          </div>
        </div>

        <div id="join_cointainer" class="pt-lg-6 pb-lg-6 pt-5">
          <div class="container text-center">
            <h2 class="text-uppercase">Skontaktuj sie z nami</h2>
            <h4 class="text-uppercase">Dostaniesz znizke i nizszy koszt</h4>
          </div>
        </div>
        <!-- end for template "index.html" -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    </body>
</html>
