<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Symphonic Backline</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="https://file.myfontastic.com/6iWEvEqzBQEjMABxNEDxFk/icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {{ JSGlue.include() }}
    </head>
    <body>
      <!--start of template navbar -->
      <div id="hero">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{{ url_for('index') }}">Symphonic Backline</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbar_dropdown" data-toggle="dropdown">Instrumenty</a>
                  <div class="dropdown-menu smooth-scroll">
                    <a class="dropdown-item" href="#instrumenty_perkusyjne">Perkusyjne</a>
                    <a class="dropdown-item" href="#instrumenty_klawiszowe">Klawiszowe</a>
                    <a class="dropdown-item" href="#">Pozostale</a>
                  </div>
                </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="#">Wyposazenie orkiestrowe</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="#">Galeria</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="#">Kontakt</a>
                  </li>
                </ul>
          </div>
        </nav>
        <!-- end of template navbar -->
        <!-- start for template "index.html" -->
          <div class="row hero_content pt-6 pb-6">
            <div class="col-md-6 col-sm-12">
              <h4 class="text-uppercase text-center text-md-left">Wypozyczalnia instrumentow i obsluga orkiestr symfonicznych</h4>
              <p class="text-center text-md-left pt-5 pb-5">
                Symphonic Backline to obecnie jedyna, profesjonalna wypożyczalnia instrumentów orkiestrowych w Polsce.
                Dysponujemy zespołem wykwalifikowanych techników specjalizujących się w pełnej obsłudze instrumentów muzycznych, orkiestr kameralnych i symfonicznych,
                sprzętu scenicznego oraz koordynacji i obsługi sceny.
              </p>
            </div>
          </div>
        </div>
    <!-- end of div hero -->
    </div>
        <div class="feature_wrapper bg-primary pt-5 pb-5 mt-0">
          <div class="container">
            <div class="row pt-4 pb-4">
              <!--
              <div class="col-md-1 col-sm-12 text-center mb-3 mb-md-0"><i class="icon-icon2 fa-3x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>

              <div class="col-md-1 col-sm-12 text-center mt-lg-2 mb-3 mb-md-0"><i class="fas fa-wrench fa-2x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>

              <div class="col-md-1 col-sm-12 text-center mt-lg-2 mb-3 mb-md-0"><i class="fas fa-sitemap fa-2x"></i></div>
              <div class="col-md-3 col-sm-12 text-center text-uppercase text-md-left mb-3 mb-md-0">Nasi technicy wniosa wszystko</div>
          -->
            </div>
          </div>
        </div>

        <!-- start of percussion section -->
        <div id="percussion-container" class="pt-6 pb-6">
          <div class="container text-sm-center">
            <div class="row mt-sm-4 mt-md-0" id="instrumenty_perkusyjne">

              <div class="col-sm-12 col-md-6 order-1 text-center text-md-left pt-2 pb-2 pb-md-0 pt-md-0" id="description section">
                <h2 class="text-uppercase text-center text-md-left mb-4 mb-sm-1" id="instrument_name">Instrumenty perkusyjne</h2>
                <p class="text-center text-md-left pt-4 pb-4" id="instrument_description">
                  Od kotlow i bebnow, przez instrumenty sztabkowe, etniczne, latynoskie, az do blach i tarcz hamulcowych.
                  <br>Nasze zaplecze instrumentow perkusyjnych obejmuje wszystko
                  czego przebuje muzyk, aby w pelni zrealizowac wizje kompozytora i dyrygenta.
                </p>
                <p>
                  <a href="#" id="percussion_modal">Zobacz zdjecia</a>
                </p>
              </div>

            <div class="col-sm-12 col-md-6 order-2 text-center text-md-right" id="side_menu_section">
                <h3 class="mb-3 mb-md-4">Oferta</h3>
                <ul class="nav flex-column nav-pills pb-4 pb-md-0">
                  <li class="nav-item">
                    <a class="nav-link ajax-trigger pr-md-0" href="" id="timpani">Kotly</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="drums">Bebny</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="cymbals">Talerze</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="mallets">Sztabkowe</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="etno">Etniczne</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="other">Pozostale</a>
                  </li>
                </ul>
                <small><a href="#" class="back_to_top">Do gory</a></small>
              </div>

            </div>
          </div>
        </div>
        <!-- end of percussion section -->
        <div class="feature_wrapper bg-primary pt-5 pb-5 mt-0">
          <div class="row pt-4 pb-4">
          </div>
        </div>
        <!-- start of keyboard section -->
        <div id="keyboard-container" class="pt-6 pb-6">
          <div class="container text-sm-center">
            <div class="row mt-sm-4 mt-md-0" id="instrumenty_klawiszowe">

              <div class="col-sm-12 col-md-6 order-1 text-center text-md-left pt-2 pt-md-0" id="description section">
                <h2 class="text-uppercase text-center text-md-left mb-4 mb-sm-1" id="instrument_name">Instrumenty klawiszowe</h2>
                <p class="text-center text-md-left pt-4 pb-4 pt-md-4 pb-md-4" id="instrument_description">
                  Od kotlow i bebnow, przez instrumenty sztabkowe, etniczne, latynoskie, az do blach i tarcz hamulcowych.
                  <br>Nasze zaplecze instrumentow perkusyjnych obejmuje wszystko
                  czego przebuje muzyk, aby w pelni zrealizowac wizje kompozytora i dyrygenta.
                </p>
              </div>

            <div class="col-sm-12 col-md-6 order-2 text-center text-md-right" id="side_menu_section">
                <h3 class="mb-3 mb-md-4">Oferta</h3>
                <ul class="nav flex-column nav-pills pb-4 pb-md-0">
                  <li class="nav-item">
                    <a class="nav-link ajax-trigger pr-md-0" href="" id="celesta">Celesta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="grand_touch">YAMAHA Ground Touch</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-md-0" href="#" id="other">Pozostale</a>
                  </li>
                </ul>
                <small><a href="#" class="back_to_top">Do gory</a></small>
            </div>

            </div>
          </div>
        </div>
        <!-- end of keyboard section -->
        <!-- end for template "index.html" -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
