  <!-- section separator -->
  <div class="feature_wrapper bg-primary">
    <div class="container">
      <div class="row align-items-center pt-5 pb-5 mt-0">
        <div class="col text-center"><i class="fas fa-angle-double-down fa-2x"></i></div>
      </div>
    </div>
  </div>
  <!-- end of section separator -->
  <!-- start of percussion section -->
  <div id="percussion-container" class="pt-5 pb-5 pt-md-6 pb-md-6">
    <div class="container text-sm-center">
      <div class="row pt-0 pb-0 pb-md-5 justify-content-center" id="instrumenty_perkusyjne">
          <h2 class="text-uppercase mb-4 mb-sm-1 text-center">Instrumenty perkusyjne</h2>
      </div>
      <div class="row mt-sm-4 mt-md-0">
        <!-- main column for instrument -->
        <div class="col-sm-12 col-md-6 order-1 text-center text-md-left pt-5 pb-5 pb-md-0 pt-md-0" id="description section">
          <h4 class="text-uppercase text-center text-md-left mb-4 mb-sm-1" id="instrument_name"></h4>
          <p class="text-center text-md-left pt-4 pb-4" id="instrument_description">
            Od kotlow i bebnow, przez instrumenty sztabkowe, etniczne, latynoskie, az do blach i tarcz hamulcowych.
            <br>Nasze zaplecze instrumentow perkusyjnych obejmuje wszystko
            czego przebuje muzyk, aby w pelni zrealizowac wizje kompozytora i dyrygenta.
          </p>
          <p>
            <a href="#" id="percussion_modal">Zobacz zdjecia</a>
          </p>
        </div>
        <!-- end of main column -->
      <!-- side menu content -->
      <div class="col-sm-12 col-md-6 order-2 text-center text-md-right" id="side_menu_section">
          <h3 class="mb-3 mb-md-4">Oferta</h3>
          <ul class="nav flex-column nav-pills pb-4 pb-md-0">
            <li class="nav-item">
              <a class="nav-link ajax-trigger pr-md-0" href="#instrumenty_perkusyjne" id="timpani">Kotly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-md-0" href="#instrumenty_perkusyjne" id="drums">Bebny</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-md-0" href="#instrumenty_perkusyjne" id="cymbals">Talerze</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-md-0" href="#instrumenty_perkusyjne" id="mallets">Sztabkowe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-md-0" href="#instrumenty_perkusyjne" id="etno">Etniczne</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-md-0" href="#instrumenty_perkusyjne" id="other">Pozostale</a>
            </li>
          </ul>
          <small><a href="#" class="back_to_top">Do gory</a></small>
        </div>
        <!-- end of side menu content -->
      </div>
    </div>
  </div>
  <!-- end of percussion section -->
